* {
    box-sizing: border-box;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    color:black;
    font-size: 0;
}

html, body {
    margin: 0;
    padding: 3px;
}

p {
    margin: 0;
    padding: 0;
}

/*.card {
    border-radius: 12px;
    background: white;
    padding: 15px;
    width: 500px;
    box-shadow: gray 0 0 8px;
}

.header {

}

.avatar {
    width: 60px; 
    height: 60px;
    border: 3px solid white;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}
.name {
    margin-left: 10px;
    line-height: 60px;
    color: gray;
    float: left;
    font-size: 25px;
}

.listening {
    font-size: 18px;
    margin: 15px 0 15px 0;
}

.player {
    overflow: hidden;
    white-space: nowrap;
}

.cover {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.player_content {
    margin-left: 10px;
    float: left;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
}

.song_name {
    font-size: 20px;
    margin-top: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
}

.song_singer {
    margin-top: 5px;
    color: #888888;
}

.song_count {
    float: right;
    line-height: 80px;
    font-size: 30px;
}

.clear {
    clear: both;
}*/

img {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.card {
    display: inline-block;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: gray 0 0 10px;
    overflow: hidden;
}

.user {
    text-align: left;
    margin: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    vertical-align: middle;
}

.username {
    line-height: 32px;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 5px;
}

.macOS {
    background: #28C131;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    vertical-align: middle;
    float: right;
    margin-top: 8px;
    margin-right: 3px;
}

.hello {
    margin: 10px;
    margin-top: 5px;
}

.neteasecloud {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.intro {
    vertical-align: middle;
    color: #BA0400;
    font-size: 16px;
    margin-right: 5px;
}

.song {
    margin: 0 auto;
    width: 260px;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.singer {
    margin: 0 auto;
    width: 260px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.5;
    font-size: 16px;
}

.cover {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
