name: NeteaseMusic
on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule: 
    - cron: "0 0 * * *"

jobs:
  update-card:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache
      - name: Setup
        run: npm install
      - name: index.js
        run: node index.js
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REFS: ${{ github.ref }}
          USER_ID: 8005659106
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
          REPO: "netease-music-card-fixed"
          AUTHOR: "luyanci"
